<%= form_for @problem, :html => { :class => "form-horizontal problem" } do |f| %>

    <% if @problem.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @problem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :judul, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control', :placeholder => 'masukkan judul anda' %>
    <%= error_span(@problem[:title]) %>
  </div>
  <div class="form-group">
    <%= f.label :deskripsi, :class => 'control-label' %>
    <%= f.text_area :description, :class => 'form-control', :placeholder => 'masukkan deskripsi anda' %>
    <%= error_span(@problem[:description]) %>
  </div>
  <div class="form-group">
    <%= f.label :gambar, :class => 'control-label' %>
    <%= f.file_field :picture, :class => 'form-control' %>
    <%= error_span(@problem[:picture]) %>
  </div>

  <% if session[:user_role] == "ROLE_ADMIN" %>

  <div class="form-group">
    <%= f.label :pelanggan, :class => 'control-label' %>
    <%= f.collection_select :user_id, User.all, :id, :name, {prompt: "Pilih Pelanggan"}, {class: "form-control"} %>
    <%= error_span(@problem[:user_id]) %>
  </div>

  <div class="form-group">
    <%= f.label :status, :class => 'control-label' %>
    <%= f.text_field :status, :class => 'form-control' %>
  </div>

  <% end %>

  <% if session[:user_role] == "ROLE_ADMIN" %>

  <div class="form-group">
      <%= f.submit :Simpan, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.batal")),
              '/admin', :class => 'btn btn-default' %>
  </div>

  <% else %>

    <div class="form-group">
        <%= f.submit :Simpan, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.batal")),
                '/', :class => 'btn btn-default' %>
    </div>

  <% end %>

<% end %>
